<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<html>
  {{ partial "header.html" . }}
  <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper">
      <canvas></canvas>
        <!-- Main -->
          <section id="main">
            <header>
              <span class="avatar"><img src="/images/avatars/{{ .Site.Params.personal.avatar }}" alt="avatar" height="130" width="130" ></span>
              <h1 class="name">
                {{ with .Site.Params.personal.name }}
                  {{ . }}
                {{ else }}
                  {{ .Site.Params.author }}
                {{ end }}
              </h1>
              {{ with .Site.Params.personal.livesIn }}
                <h5 class=location>Lives in {{ . | markdownify }}</h5>
              {{ end }}

              {{ with .Site.Params.personal.position }}
                <h2 class="position">{{ . | markdownify }}</h2>
              {{ end }}

              {{ with .Site.Params.personal.scope }}
              <ul>
                {{ range . }}
                  <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
              {{ end }}

              {{ with .Site.Params.personal.biography }}
                <span class="biography">{{ . | markdownify }}</span>
              {{ end }}
            </header>

            <footer>
              <ul class="icons">
                <a class="button" href="https://pedrocosta.eu/cv/" role="button">CV</a>
                <a class="button" href="https://pedrocosta.eu/blog/" role="button">Blog</a>
              </ul>
              {{ if .Site.Params.contact.enable }}
                {{ partial "contact.html" . }}
              {{ end }}
            </footer>
          </section>

        <!-- Footer -->
          {{ partial "footer.html" . }}

      </div>
    {{ partial "footer_scripts.html" . }}
  </body>

  <script src="./assets/js/jquery-v3.3.1/jquery.min.js"></script>
  <script src="./assets/js/main.js"></script>

</html>
